<div class="menuContainer" [ngClass]="{ 'open-menu': menuStatus }">
  <div class="menuContainer__heading">
    <div class="menuContainer__heading__icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="menuContainer__heading__text">
      <span *ngIf="user" [routerLink]="['/profile']">{{ user["name"] }}</span>
      <span *ngIf="user == null" [routerLink]="['/login']">Login</span>
    </div>
  </div>
  <div class="menuContainer__content">
    <div class="menuContainer__content-list" [routerLink]="['/']">
      <div class="menuContainer__content-list--text">Home</div>
    </div>
    <div
      class="menuContainer__content-list"
      [routerLink]="['/catagories', 'latest']"
    >
      <div class="menuContainer__content-list--text">Latest</div>
    </div>
    <div
      class="menuContainer__content-list"
      [routerLink]="['/catagories', 'top-rated']"
    >
      <div class="menuContainer__content-list--text">Top Rated</div>
    </div>
    <div class="menuContainer__content-list">
      <div
        class="menuContainer__content-list--text"
        [routerLink]="['/catagories/type/', 'movie']"
      >
        Movies
        <button class="btn" (click)="openSubMenu('movieStatus')">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
      <ul
        class="menuContainer__content-list--items"
        [ngClass]="{ subMenu: moviesStatus }"
      >
        <li>Latest</li>
        <li>top rated</li>
        <li>Most Popular</li>
        <li>Browse By Catagory</li>
      </ul>
    </div>
    <div
      class="menuContainer__content-list"
      [routerLink]="['/catagories/type/', 'series']"
    >
      <div class="menuContainer__content-list--text">
        Tv Series
        <button class="btn" (click)="openSubMenu('seriesStatus')">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
      <ul
        class="menuContainer__content-list--items"
        [ngClass]="{ subMenu: seriesStatus }"
      >
        <li>Latest</li>
        <li>top rated</li>
        <li>Most Popular</li>
        <li>Browse By Catagory</li>
      </ul>
    </div>
    <div class="menuContainer__content-list">
      <div
        class="menuContainer__content-list--text"
        [routerLink]="['/catagories/catagory']"
      >
        <span><i class="fa-solid fa-list"></i> Catagory</span>
      </div>
    </div>
  </div>
</div>
