<div class="menuContainer" [ngClass]="{ 'open-menu': menuStatus }">
  <div class="menuContainer__heading">
    <div class="menuContainer__heading__icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="menuContainer__heading__text">
      <span *ngIf="user" [routerLink]="['/profile']">{{ user["name"] }}</span>
      <span *ngIf="user == null" [routerLink]="['/login']">Login</span>
    </div>
  </div>
  <div class="menuContainer__content">
    <div class="menuContainer__content-list" [routerLink]="['/']">
      <div class="menuContainer__content-list--text"><i class="fa-solid fa-house"></i> <span> Home</span></div>
    </div>
    <div
      class="menuContainer__content-list"
      [routerLink]="['/catagories', 'latest']"
    >
      <div class="menuContainer__content-list--text"><i class="fa-solid fa-chart-line"></i><span> Latest</span></div>
    </div>
    <div
      class="menuContainer__content-list"
      [routerLink]="['/catagories', 'top-rated']"
    >
      <div class="menuContainer__content-list--text"><i class="fa-solid fa-star"></i><span> Top Rated</span></div>
    </div>
    <div class="menuContainer__content-list">
      <div
        class="menuContainer__content-list--text"
        [routerLink]="['/catagories/type/', 'movie']"
      >
      <i class="fa-solid fa-clapperboard"></i><span> Movies</span>
      </div>
      
    </div>
    <div
      class="menuContainer__content-list"
      [routerLink]="['/catagories/type/', 'series']"
    >
      <div class="menuContainer__content-list--text">
        <i class="fa-solid fa-tv"></i> <span> Tv Series</span>
       
      </div>
     
    </div>
    <div class="menuContainer__content-list">
      <div
        class="menuContainer__content-list--text"
        [routerLink]="['/catagories/catagory']"
      >
      <i class="fa-solid fa-list"></i> <span> Catagory  <button class="btn" (click)="openSubMenu('seriesStatus')">
        <i class="fa-solid fa-chevron-right"></i>
      </button></span>

      <ul
      class="menuContainer__content-list--items"
      [ngClass]="{ subMenu: seriesStatus }"
    >
      <li>Latest</li>
      <li>top rated</li>
      <li>Most Popular</li>
      <li>Browse By Catagory</li>
    </ul>
      </div>
    </div>
  </div>
</div>
