.login {
    width: 70vw;
    margin: auto;
    display: flex;
    height: 70vh;
    position: relative;
    top: 15vh;
    border: 1px solid;
    &__left,
    &__right {
        width: 50%;
        height: 100%;
    }
    &__left {
        background-image: url("https://i.pinimg.com/736x/58/3c/9d/583c9d93c0067b7862be68c2a21a80f7.jpg");
        background-size: 100%;
    }
    &__right {
        padding: 2.5rem 1.5rem;
        button {
            display: block;
            margin: auto;
        }
    }
}
