@import "../scss/abstract/mixins";
.catagories {
    width: 100vw;
    position: relative;
    top: 9vh;
    min-height: 91vh;
    background-blend-mode: color-dodge;
    background-color: #00000067;
    background-size: cover;
    background-image: url("https://wallpaperaccess.com/full/202978.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        width: 80%;
        // height: 85vh;
        background-color: rgba(0, 0, 0, 0.418);
        padding: 1rem;
        border-radius: 1.5rem;
        @include respond(tab-port) {
            width: 90%;
        }
        @include respond(phone) {
            width: 100%;
        }
        & > h3 {
            text-align: center;
            color: whitesmoke;
            font-weight: 200;
            font-size: 2.5rem;
            @include respond(tab-land) {
                font-size: 2rem;
            }
            @include respond(tab-port) {
                font-size: 1.5rem;
            }
            @include respond(phone) {
                font-size: 1rem;
            }
        }
        &_group {
            width: 100%;
            height: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &--catagory {
                width: 23%;
                height: 21vh;
                margin: 0.6rem;
                border-radius: 1rem;
                background-size: cover;
                background-color: rgba(0, 0, 0, 13%);
                background-blend-mode: color-burn;
                position: relative;
                transition: all 0.2s;

                @include respond(tab-port) {
                    height: 12hv;
                }
                @include respond(phone) {
                    height: 10vh;
                }
                &-title {
                    position: absolute;
                    color: white;
                    text-shadow: 1px 2px 2px black;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include respond(tab-land) {
                        font-size: 1.2rem;
                    }
                    @include respond(tab-port) {
                        font-size: 0.9rem;
                    }
                    @include respond(phone) {
                        font-size: 0.7rem;
                    }
                }
                &:hover {
                    transform: scale(1.04);
                }
            }
        }
    }
}
